body {
	font-family: var(--font-family-body), sans-serif;
}

.contact-details {
	font-style: normal;
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--spacing-md);
	row-gap: var(--spacing-xs);
	font-size: var(--font-size-sm, 0.9rem);

	&__address {
		display: block;
		width: 100%;
		flex-basis: 100%;
	}
}

.card {
	&__content {
		h2.is-style-small {
			margin-block-end: 0;
		}
	}
}

